.Authenticator-title {
  text-align: center;
}


.Authenticator .panel {
  min-height: 400px;
}

.logo {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logoContainer {
  margin-left: auto;
  margin-right: auto;
  display:inline-block;
}